:root {
  --almost-white: #FFFDFA;
  --dark-space-blue: rgb(0, 0, 26);
  --gunmetal: #5E607A;
  --light-vermillion: #F15D51;
  --silver: #C5C6CE;
  --yellow: #E9AA52;
  --64: 64px;
  --56: 56px;
  --40: 40px;
  --35: 35px;
  --32: 32px;
  --31: 31px;
  --30: 30px;
  --29: 29px;
  --28: 28px;
  --26: 26px;
  --24: 24px;
  --21: 21px;
  --20: 20px;
  --18: 18px;
  --16: 16px;
  --15: 15px;
  --14: 14px;
  --11: 11px;
  --8: 8px;
  --1: 1px;
  --regular: 400;
  --bold: 700;
  --extra-bold: 800;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--15);
  line-height: var(--26);
  font-weight: var(--regular);
}

.header-xs {
  font-size: var(--18);
  line-height: var(--24);
  font-weight: var(--extra-bold);
}
.header-s {
  font-size: var(--20);
  line-height: var(--24);
  font-weight: var(--extra-bold);
}
.header-m {
  font-size: var(--32);
  line-height: 1;
  font-weight: var(--bold);
}
.header-l {
  font-size: var(--40);
  line-height: 1;
  font-weight: var(--bold);
}
.header-xl {
  font-size: var(--56);
  line-height: 1;
  font-weight: var(--extra-bold);
}

body {
  background-color: #eee;
}

.template {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto auto;
  padding: 0px 16px 80px 16px;
}
@media screen and (min-width: 1141px) {
  .template {
    margin: auto;
  }
}
@media screen and (min-width: 1440px) {
  .template {
    width: 1440px;
    height: 100%;
    padding: 89px 165px 129px 165px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--28);
  padding-bottom: var(--32);
}
.menu-logo > img {
  max-width: 44.98px;
  height: auto;
  display: block;
}
@media screen and (min-width: 1140px) {
  .menu-logo > img {
    max-width: 64.09px;
    height: auto;
    display: block;
  }
}
.menu-bar > img {
  max-width: 40px;
  height: auto;
  display: block;
}
@media screen and (min-width: 1140px) {
  .menu-bar {
    display: flex;
    gap: var(--40);
    color: var(--gunmetal);
    font-size: var(--15);
  }
}
.menu-bar-options:hover {
  color: var(--light-vermillion);
}
@media screen and (min-width: 1140px) {
  .menu {
    max-width: 1110px;
    margin: auto;
    padding-bottom: 55.1px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--64);
}
@media screen and (min-width: 1140px) {
  .hero {
    width: 1110px;
    height: 511px;
    flex-direction: row;
    gap: var(--30);
    margin: auto;
    margin-bottom: 71px;
  }
}

.main-body {
  width: auto;
  height: auto;
}
@media screen and (min-width: 1140px) {
  .main-body {
    display: flex;
    flex-direction: row;
    gap: var(--30);
  }
}
.main-picture {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  height: auto;
  margin-bottom: var(--20);
}
@media screen and (min-width: 1140px) {
  .main-picture {
    width: 730px;
    height: 300px;
    margin-bottom: var(--28);
  }
}
.main-picture > img {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 1140px) {
  .main-picture > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.main-body-header {
  padding-bottom: var(--20);
  font-size: var(--40);
  font-weight: var(--extra-bold);
  line-height: 1;
}
@media screen and (min-width: 1140px) {
  .main-body-header {
    flex: 1 0 350px;
    font-size: var(--56);
    line-height: 1;
    font-weight: var(--extra-bold);
  }
}
@media screen and (min-width: 1140px) {
  .main-body-container {
    width: 350px;
  }
}
.main-text {
  padding-bottom: var(--24);
  font-size: var(--body);
  color: var(--gunmetal);
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 48px;
  background-color: var(--light-vermillion);
  color: var(--almost-white);
  font-size: var(--14);
  font-weight: var(--bold);
  letter-spacing: 4.38px;
}
.main-button:hover {
  background-color: var(--dark-space-blue);
}

.sidebar {
  display: flex;
  justify-content: end;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgba(0, 0, 26, 0.5);
}
.sidebar-background {
  right: 0;
  height: 100%;
  width: 256px;
  background-color: var(--almost-white);
}
.sidebar-exit {
  text-align: right;
  padding-top: 27.3px;
  padding-right: 20.8px;
}
.sidebar-options-container {
  margin-top: 86.3px;
  margin-left: var(--24);
  margin-right: var(--29);
}
.sidebar-option {
  font-size: var(--18);
  margin-bottom: var(--24);
}

.news {
  background-color: var(--dark-space-blue);
  padding-left: var(--21);
  padding-right: var(--20);
  margin-bottom: var(--64);
}
@media screen and (min-width: 1140px) {
  .news {
    height: 100%;
  }
}
.news-header {
  padding-top: var(--24);
  padding-bottom: var(--35);
  color: var(--yellow);
  font-size: var(--32);
  line-height: 1;
  font-weight: var(--bold);
}
@media screen and (min-width: 1140px) {
  .news-header {
    font-size: var(--40);
    line-height: 1;
    font-weight: var(--bold);
  }
}
.news-section {
  padding-bottom: var(--29);
}
.news-section:hover {
  cursor: pointer;
}
.news-section:hover .news-section-header {
  color: var(--yellow);
}
.news-section-header {
  color: var(--almost-white);
  padding-bottom: var(--8);
}
.news-section-body {
  color: var(--silver);
}
.news-break-container {
  display: flex;
  justify-content: center;
  height: 1px;
  padding-bottom: var(--31);
}
.news-break {
  height: 1px;
  width: 302px;
  border: 1px solid var(--gunmetal);
}

.recommended {
  max-width: 1110px;
  margin: auto;
}
.recommended-section {
  display: flex;
  margin-bottom: var(--32);
}
.recommended-section:hover {
  cursor: pointer;
}
.recommended-section:hover .recommended-header {
  color: var(--light-vermillion);
}
@media screen and (min-width: 1140px) {
  .recommended-section {
    flex: 1 0 350px;
  }
}
.recommended-thumbnail {
  height: 129px;
  flex: 0 0 100px;
}
.recommended-body {
  padding-left: 24px;
}
.recommended-number {
  color: var(--silver);
  padding-bottom: var(--11);
}
.recommended-header {
  padding-bottom: var(--9);
}
.recommended-description {
  color: var(--gunmetal);
  font-size: var(body);
}
@media screen and (min-width: 1140px) {
  .recommended {
    display: flex;
    flex-direction: row;
    gap: var(--30);
  }
}

.pb-24 {
  padding-bottom: 24px;
}

.display-none {
  display: none;
}

@media screen and (min-width: 1140px) {
  .lg-fd {
    display: flex;
  }
  .lg-fd-col {
    flex-direction: column;
  }
  .lg-fd-row {
    flex-direction: row;
  }
  .lg-none {
    display: none;
  }
}

@media screen and (max-width: 1139px) {
  .sm-fd {
    display: flex;
  }
  .sm-fd-col {
    flex-direction: col;
  }
  .sm-fd-row {
    flex-direction: row;
  }
  .sm-none {
    display: none;
  }
}

.cursor:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
